<div class="detail-wrapper" *ngIf="!loadingUserData && (userData || userNotFound)">

    <mat-card>

        <!-- user found -->
        <div *ngIf="userData">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"
                    [ngStyle]="{ 'background-image': 'url(' + userData.avatar_url + ')', 'transform': !userData.name ? 'translateY(-10px)' : '' }">
                </div>
                <mat-card-title>{{ userData.login }}
                </mat-card-title>
                <mat-card-subtitle>{{ userData.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ userData.bio }}
                </p>
                <p *ngIf="userData.location"><strong>Location: </strong>{{ userData.location }} </p>
                <p *ngIf="userData.company"><strong>Company: </strong>{{ userData.company }} </p>
            </mat-card-content>

            <mat-chip-list>
                <mat-chip (click)="changeListData('followers')">
                    {{ userData.followers }} followers
                </mat-chip>
                <mat-chip (click)="changeListData('following')">
                    {{ userData.following }} following
                </mat-chip>
                <mat-chip (click)="changeListData('repos')">
                    {{ userData.public_repos }} public repositories
                </mat-chip>
            </mat-chip-list>

            <ag-grid-angular 
                *ngIf="rowData" 
                style="width: 100%; height: 30vh; margin-top: 10px;" 
                class="ag-theme-alpine"
                [rowData]="rowData | async" 
                [columnDefs]="cols[showListType]">
            </ag-grid-angular>

        </div>


        <!-- user not found -->
        <div *ngIf="userNotFound" class="user-not-found">

            <img src="assets/icon.png" />
            <h4>Nenhum usuário com o nome inserido foi encontrado</h4>

        </div>

    </mat-card>

</div>

<div *ngIf="loadingUserData" style="padding: 40px; display: flex; justify-content: center; align-items: center; vertical-align: middle;">
    <mat-spinner></mat-spinner>
</div>