<div class="header">
    <mat-toolbar>
        <div class="header-content">
            <img src="assets/pitang-logo.png" class="pitang-logo" />
            <div>
                <button mat-button routerLink="search-user" routerLinkActive="active-link">Buscador</button>
                <button mat-button routerLink="repository-rank" routerLinkActive="active-link">Repositórios</button>
                <button mat-button routerLinkActive="active-link">Usuários</button>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>