<div class="header">
    <mat-toolbar>
        <div class="header-content">
            <img src="assets/pitang-logo.png" class="pitang-logo" />
            <div>
                <mat-button-toggle-group>
                    <mat-button-toggle routerLink="search-user">
                        <span class="route-link">Buscador</span>
                    </mat-button-toggle>
                    <mat-button-toggle routerLink="repository-rank">
                        <span class="route-link">Repositórios</span>
                    </mat-button-toggle>
                    <mat-button-toggle>
                        <span class="route-link">Usuários</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>