.search-form-wrapper {
    margin-bottom: 25px;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
    height: 10px;
    display: inline-block;
    width: 10px;
    border-radius: 100%;
}

.trends-filters {
    .language-filter-wrapper {
        margin-right: 10px;
    }
}