<h2 class="trends-title">
    {{ entity === 'repositories' ? 'Repositorios' : 'Usuários'  }} mais populares
</h2>

<form class="trends-filters" (submit)="filterList()" [formGroup]="filterForm">

    <mat-form-field class="language-filter-wrapper" appearance="outline">

        <mat-label>Linguagem</mat-label>

        <mat-select matInput formControlName="languageCtrl">
            <mat-option *ngFor="let language of avaiableLanguages" [value]="language.urlParam">
                <span class="example-option-img" [ngStyle]="{ 'background': colors[language.name] ? colors[language.name].color : '#000' }"></span>
                <span>{{ language.name }}</span>
            </mat-option>
        </mat-select>

        <!-- <input matInput [matAutocomplete]="auto" formControlName="languageCtrl">

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option>

            </mat-option>
        </mat-autocomplete> -->

    </mat-form-field>

    <mat-form-field class="language-filter-wrapper" appearance="outline">

        <mat-label>Período</mat-label>

        <mat-select matInput formControlName="periodCtrl">
            <mat-option value="monthly">No mês</mat-option>
            <mat-option value="weekly">Na semana</mat-option>
            <mat-option value="daily">Hoje</mat-option>
        </mat-select>

    </mat-form-field>

    <button mat-mini-fab color="primary" matSuffix type="submit">
        <mat-icon matSuffix>
            search
        </mat-icon>
    </button>
</form>

<mat-card class="example-card">

    <mat-card-content *ngIf='(rowData | async); else loading'>
        <ag-grid-angular
            style="width: 100%; margin-top: 10px;" 
            class="ag-theme-material"
            domLayout="autoHeight"
            rowHeight="60"
            [rowData]="rowData | async" 
            [columnDefs]="colDefs"
            [localeText]="localeText"
        >
        </ag-grid-angular>
    </mat-card-content>



</mat-card>


<ng-template #loading>
    <div style="padding: 40px; display: flex; justify-content: center; align-items: center; vertical-align: middle;">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>