/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/mixins/_ag-theme-mixins.scss";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;

  .mat-form-field-wrapper {
      padding-bottom: 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0;
  }
  .mat-list-item-content {
    padding-left: 0!important;
  }
  .mat-toolbar {
    height: 100%;
  }

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
opacity: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #bbbbbb;
}